[user]
    name = Vraj Mohan
    email = r.vrajmohan@gmail.com
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    l2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
    tool = vimdiff
